body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* header & navbar container */
header {
    top:0;
    width: 100vw;
    position: fixed;
    background-color:white;
    padding-bottom: 2em;
}

#logo {
    padding:0.5em;
    text-align: center;
}

#backArrow {
    position: fixed;
    width: 40%;
    margin: 25px;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
}

.button {
    height: 125px;
    width: 125px;
    padding: 15px;
    margin: 25px;
    border: 10px solid whitesmoke;
    border-radius: 30px;
    background-color:whitesmoke;
    flex-direction: column;
    font-size:30px;
    font-weight:bold;
}

.button:hover {
    border-color:lightblue;
    background-color:lightblue;
    
}

.buttonA {
    height: 125px;
    width: 125px;
    padding: 15px;
    margin: 25px;
    border: 10px solid;
    border-radius: 30px;
    flex-direction: column;
    font-size:30px;
    font-weight:bold;
    border-color:lightblue;
    background-color:lightblue;
}

#navB {
    margin-top: 40px;
    margin-left: -10px;
}

#navA {
    margin-top: 40px;
    margin-left: -11px;
}

#navE {
    margin-top: 40px;
    margin-left: 10px;
}

#navD {
    margin-top: 40px;
    margin-left: 0px;
}

/* popular page */
h1 {
    font-size: 60px;
    margin-top: 400px;
    margin-left: 65px;
}

#popular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow-y: scroll;
    z-index:-10;
}

#pop1 {
    margin:10px;
    width:42vw;
    height: 42vh;
    background-color:lightcyan;
    border-radius:30px;
}

#pop2 {
    margin:10px;
    width:42vw;
    height: 42vh;
    background-color:lightblue;
    border-radius:30px;
} 

#pop3 {
    margin:10px;
    width:42vw;
    height: 42vh;
    background-color:lightskyblue;
    border-radius:30px;
}

#pop4 {
    margin:10px;
    width:42vw;
    height: 42vh;
    background-color:lightseagreen;
    border-radius:30px;
} 

/* beverages page */
#selScroll {
    margin-left: 55px;
    padding-bottom: 200px;
    width: 350px;
    overflow-y: scroll;
    align-items: center;
}

.selBox {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color:white;
    height:300px;
    width:300px;
    margin: 20px;
    border: 1px solid white;
    border-radius:20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.selBox:hover {
    background-color:  #273d4b;
    border-color:  #273d4b;
}

#itemBox {
    top:30%;
    margin-left:40%;
    height:70vh;
    width:530px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
}

#itemPic {
    overflow: hidden;
    height: 500px;
    width: 500px;
    object-fit: cover;
}

#itemName {
    font-weight: bold;
    font-size: 60px;
}

#itemPrice {
    margin-top:-40px;
    font-weight: bold;
    font-size: 60px;
    color: #273d4b;
}

#itemDesc {
    font-size: 40px;
    margin-top:-40px;
    text-align: center;
}

#addToCart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-125px;
    font-size: 80px;
}

#addToCartBut, #minusToCartBut {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    margin:20px;
    color:#273d4b; 
    border: 1px solid lightgray;
    border-radius:300px;
    background-color:whitesmoke;
    box-shadow: 0 9px #999;
}

#addToCartBut:hover, #minusToCartBut:hover {
    background-color:gray;
}

#addToCartBut:active, #minusToCartBut:active {
    background-color:gray;
    box-shadow: 0 5px #666;
    transform:translate(0,4px);
}

/* footer container */
footer {
    overflow:hidden;
    width:100vw;
    height:8vh;
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color:white;
    background-color: #273d4b;
    border-radius:  30px 30px 0px 0px;
}

#downArrow {
    position: absolute;
    visibility: hidden;
}

