body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* header & navbar container */
header {
    top:0;
    width: 100vw;
    position: fixed;
    background-color:white;
    padding-bottom: 2em;
}

#logo {
    padding:0.5em;
    text-align: center;
}

#backArrow {
    position: fixed;
    width: 40%;
    margin: 25px;
}

#cart {
    position: fixed;
    width: 150px;
    height:100px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 65px;
    border-radius: 30px;
    background-color:#273d4b;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-color: white;
}

.button {
    height: 125px;
    width: 125px;
    padding: 15px;
    margin: 25px;
    border: 10px solid whitesmoke;
    border-radius: 30px;
    background-color:whitesmoke;
    flex-direction: column;
    font-size:30px;
    font-weight:bold;
}

.button:hover {
    border-color:lightblue;
    background-color:lightblue;
    
}

.buttonA {
    height: 125px;
    width: 125px;
    padding: 15px;
    margin: 25px;
    border: 10px solid;
    border-radius: 30px;
    flex-direction: column;
    font-size:30px;
    font-weight:bold;
    border-color:lightblue;
    background-color:lightblue;
}

#navB {
    margin-top: 40px;
    margin-left: -10px;
}

#navA {
    margin-top: 40px;
    margin-left: -11px;
}

#navE {
    margin-top: 40px;
    margin-left: 10px;
}

#navD {
    margin-top: 40px;
    margin-left: 0px;
}

/* home page */
#searchBar {
    height:125px;
    width:86.5vw;
    margin-top:50px;
    background-color:whitesmoke;
    border: 10px solid whitesmoke;
    border-radius: 30px;
    font-size:35px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 50px;
    border-top-style: hidden;
}

#searchBar:focus {
    outline: none;
}

i {
    position:absolute;
    left:8%;
    top:79.5%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 400px;
    margin-left: 65px;
}

#pop {
    margin-top: 175px;
}

#popular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow-y: scroll;
    z-index:-10;
}

#pop1 {
    margin:10px;
    width:42vw;
    height: 42vh;
    background-color:lightcyan;
    border-radius:30px;
}

#pop2 {
    margin:10px;
    width:42vw;
    height: 42vh;
    background-color:lightblue;
    border-radius:30px;
} 

#pop3 {
    margin:10px;
    width:42vw;
    height: 42vh;
    background-color:lightskyblue;
    border-radius:30px;
}

#pop4 {
    margin:10px;
    width:42vw;
    height: 42vh;
    background-color:lightseagreen;
    border-radius:30px;
} 

/* food pages */
#selScroll {
    margin-left: 55px;
    width: 350px;
    overflow-y: scroll;
    align-items: center;
    padding-bottom:400px;
}

.selBox {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color:white;
    height:300px;
    width:300px;
    margin: 20px;
    border: 2px solid white;
    border-radius:20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.selBox:hover {
    border-color:  #273d4b;
}

#itemBox {
    top:30%;
    margin-left:42.5%;
    height:70vh;
    width:530px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
}

#itemPic {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

#itemName {
    font-weight: bold;
    font-size: 60px;
}

#itemPrice {
    font-weight: bold;
    font-size: 60px;
    color: #273d4b;
}

#itemDesc {
    font-size: 40px;
    margin-top:-40px;
    margin-bottom:80px;
    text-align: center;
}

#addToCart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-125px;
    font-size: 65px;
    flex-wrap: wrap;
}

#addToCartBut, #minusToCartBut {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:90px;
    height:90px;
    margin:20px;
    color:#273d4b; 
    border: 1px solid lightgray;
    border-radius:300px;
    background-color:whitesmoke;
    box-shadow: 0 9px #999;
}

#addToCartBut:active, #minusToCartBut:active {
    background-color:gray;
    box-shadow: 0 5px #666;
    transform:translate(0,4px);
}

#addToCartButton {
    font-size: 50px;
    width: 50vw;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-30px;
    visibility: hidden;
    border: 10px solid #273d4b;
    background-color: #273d4b;
    border-radius:90px;
    color: white;
}

/* footer container */
footer {
    overflow:hidden;
    width:100vw;
    height:8vh;
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color:white;
    background-color: #273d4b;
    border-radius:  30px 30px 0px 0px;
}

#downArrow {
    position: absolute;
    visibility: hidden;
}

/* cart page */
#heading2 {
    font-size: 80px;
    margin-top: 200px;
    margin-left: 65px;
}

#totalBox {
    background-color:white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 5;
    padding-top:10px;
}

hr  {
    width: 90%;
}

#totalBoxRow1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:-90px;
}

#totalText {
    font-size: 60px;
    margin-left: 65px;
}

#cartTotal {
    font-size: 60px;
    margin-right: 65px;
}

#totalBoxRow2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#subTotalBox {
    display:flex;
}

#subText {
    font-size: 60px;
    margin-left: 65px;
}

#subTotal {
    font-size: 60px;
    margin-right: 65px;
}

#makeOrderButton {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    border: 10px solid #273d4b;
    background-color: #273d4b;
    color: white;
    border-radius:90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height:140px;
    margin-bottom: 45px;
}

.cartItems {
    width:100vw;
    display:flex;
    flex-direction:column;
    margin-left:65px;
}

.cartItemBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.cartItemPic {
    margin-left: 65px;
    width: 185px;
    height: 185px;
    object-fit:cover;
    border: 10px solid whitesmoke;
    border-radius: 30px;
    background-color:whitesmoke;
}

#cartItemNameAndPrice {
    display:flex;
    flex-direction:column;
    margin-right:auto;
    margin-left:20px;
    
}
.cartItemName {
    margin-top: 10px;
    font-size: 45px;  
    font-weight: bold;  
}

.cartItemPrice {
    margin-top: -10px;
    font-size:45px;
    color:#273d4b;
}

.cartQtyCont {
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    font-size: 50px;
    margin-right:65px;
}

.cartQty {
    margin-top:10px;
    margin-left: auto;
}

.cartAdd, .cartMinus {
    display: flex;
    justify-content: center;
    width:80px;
    height:80px;
    margin-top:10px;
    margin-bottom:auto;
    margin-left: auto;
    color:#273d4b; 
    border: 1px solid lightgray;
    border-radius:300px;
    background-color:whitesmoke;
    box-shadow: 0 9px #999;
    
}

.cartAdd:active, .cartMinus:active {
    background-color:gray;
    box-shadow: 0 5px #666;
    transform:translate(0,4px);
}

.itemTotalPrice {
    font-size: 45px;
    margin-top: -10px;
    margin-left: auto;
    font-weight: bold;
}
